.main {
  display: flex;
  flex-direction: column;
  gap: 46px;
  width: 100%;
  align-items: center;
  min-height: calc(100vh - 148px - 112px - 45px);

  @media (max-width: 600px) {
    min-height: calc(100vh - 101px - 28px - 100px);
  }
}
